.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
}
.header-link {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
}
@media (min-width: 425px) {
  .header-title {
    font-size: 2.5rem;
  }
  .header-link {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .header-title {
    font-size: 3.6rem;
  }
  .header-link {
    font-size: 1.6rem;
  }
}